{
    "token": "",
    "icon": "",
    "announcer": [
        {
            "calendar": "",
            "channel": "",
            "interval": "",
            "sendDiff": -1
        }
    ],
    "mongo": {
        "username": "",
        "password": "",
        "host": "",
        "port": "",
        "dbName": ""
    }
}